.main {
  background: url("../../assets/img/fundo_login.jpg");
  background-position: top;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: 360px;
  background-color: var(--color-seventh);
  text-align: center;
  padding: 20px;
  border: 1px solid var(--color-third);
  border-radius: 12px;
}
.login h2,
.login p,
.login span {
  color: var(--color-second-strong);
}
@media (max-width: 640px) {
  .login {
    width: 70%;
  }
}
@media (max-width: 396px) {
  .login {
    width: 90%;
  }
}
