.main {
  background: url("../../assets/img/fundo_login.jpg");
  background-position: top;
  background-size: cover;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: -32px;
  margin-bottom: -48px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.login {
  width: 360px;
  background-color: var(--color-seventh);
  text-align: center;
  padding: 20px;
  border: 1px solid var(--color-third);
  border-radius: 12px;
}

.login h2,
.login p,
.login span {
  color: var(--color-second-strong);
}

.messageError {
  color: #8a3b13;
}

.messageSuccess {
  color: #2f6b2f;
  font-weight: 700;
}

@media (max-width: 640px) {
  .main {
    margin-top: -24px;
    margin-bottom: -48px;
  }

  .login {
    width: 70%;
  }
}

@media (max-width: 396px) {
  .login {
    width: 90%;
  }
}
