.navbar {
  padding: 6px 3%;
  background-color: var(--color-fifth);
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-third);
}

.title {
  letter-spacing: 0.2px;
  color: var(--color-third);
  font-style: italic;
  font-weight: 800;
}

.title:hover {
  filter: grayscale(0.3);
  transition: 0.4s;
}
.blog {
  font-size: 1.1em;
}
.navLink {
  list-style-type: none;
  margin: 0 12px;
}
.ulLinks {
  display: flex;
  align-items: center;
}
.link {
  color: var(--color-third);
  padding: 2px 9px;
  border-radius: 14px;
  border: 1px solid var(--color-third);
}
.link:hover {
  background-color: var(--color-third);
  color: var(--color-fifth);
  filter: grayscale(0.3);
  transition: 0.4s;
}
.logout_img {
  width: 24px;
}
.btn_logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .none {
    display: none;
  }
  .ulLinks {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 800;
    width: 100%;
    top: 56px;
    left: 0;
    background-color: var(--color-sixth);

    height: 92vh;
  }
  .link {
    color: var(--color-second);
    border: 1px solid var(--color-second);
  }
  .menuAberto,
  .menuFechado {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  .btn_menu {
    width: 30px;
    height: 5px;
    background-color: var(--color-third);
    transition: all 0.01s ease-in-out;
    border-radius: 5px;
  }
  .btn_menu::before,
  .btn_menu::after {
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 5px;
    background-color: var(--color-third);
    border-radius: 5px;
  }
  .btn_menu::before {
    transform: translateY(-10px);
  }
  .btn_menu::after {
    transform: translateY(10px);
  }
  .menuAberto .btn_menu {
    background: transparent;
  }

  .menuAberto .btn_menu::before {
    transform: rotate(45deg);
  }
  .menuAberto .btn_menu::after {
    transform: rotate(-45deg);
  }
}
