.footer {
  background-color: var(--color-fifth);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  border-top: 1px solid var(--color-third);
}
